@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #556AEB;
  color: white;
}
@layer base {
  ::selection {
    @apply bg-primary-400 text-white;
  }

  body {
    @apply bg-primary-100;
  }
}